@model TravelManagementSystem.ViewModel.CustomerCreateViewModel

@{
    ViewData["Title"] = "Create";
}

@* <div class="border border-warning shadow">

  <div class="container p-3 mt-lg-3 content">
    <div class="card shadow mb-4 col-lg-12">
            <div class="card-body text-center bg-warning">
                <h4 class="text-light ">Add Customer</h4>
                <div class="d-flex justify-content-center gap-3 mt-3">
                </div>
            </div>
    </div> *@

<form class="border shadow col-lg-12" enctype="multipart/form-data" asp-controller="Customers" asp-action="Create" method="post">

    <div class="card shadow col-lg-12">
        <div class="card-body text-center bg-theme-color">
            <h4 class="text-light ">Add Customer</h4>
            <div class="d-flex justify-content-center gap-3 mt-3">
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="row m-3">
            <div class="form-group col-lg-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-6">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        <div class="row m-3">
            <div class="form-group col-lg-6">
                <label asp-for="PassportNo" class="control-label"></label>
                <input asp-for="PassportNo" class="form-control" />
            </div>

            <div class="form-group col-lg-6">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
            </div>
        </div>

        <div class="row m-3">

            <div class="col-lg-6">
                <label asp-for="Country" class="form-label"></label>
                <select class="form-select" asp-for="Country">
                    <option value="">Select Country</option>
                    @foreach (var country in Enum.GetValues(typeof(CountryEnum)))
                    {
                        <option value="@country">@country</option>
                    }
                </select>
            </div>

            <div class="form-group col-lg-6">
                <label asp-for="ScanDocument" class="control-label"></label>
                <input asp-for="ScanDocument" type="file" class="form-control custom-file-input" />
            </div>
        </div>

        <div class="form-group m-4">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
